{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'operations/css/styles.css' %}">
    <link rel="stylesheet" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    {% block dark-mode-vars %}
      <link rel="stylesheet" href="{% static "admin/css/dark_mode.css" %}">
      <script src="{% static "admin/js/theme.js" %}" defer></script>
    {% endblock %}
    {% if not is_popup and is_nav_sidebar_enabled %}
      <link rel="stylesheet" href="{% static "admin/css/nav_sidebar.css" %}">
      <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
    {% endif %}
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}<link rel="stylesheet" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
  </head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
  <a href="#content-start" class="skip-to-content-link">{% translate 'Skip to main content' %}</a>
  <div id="container">
    {% if not is_popup %}
    <!-- Header -->
    {% block header %}
    <div class="video-bg">
      <video width="320" height="240" autoplay loop muted>
        <source
          src="https://assets.codepen.io/3364143/7btrrd.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="dark-light">
      {% include "admin/color_theme_toggle.html" %}
    </div>
    <div class="app">
      <div class="header">
        <div class="menu-circle"></div>
        <div class="header-menu">
          <a class="menu-link is-active" href="#">Dashboard</a>
          <a class="menu-link notify" href="#">Your work</a>
          <a class="menu-link" href="#">Discover</a>
          <a class="menu-link notify" href="#">More</a>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Search" />
        </div>
        <div class="header-profile">
          {% block usertools %}
          {% if has_permission %}
          <div id="user-tools" class="user-tools" style="display:none">
              {% block welcome-msg %}
                  {% translate 'Welcome,' %}
                  <strong>{% firstof user.get_short_name user.get_username %}</strong>.
              {% endblock %}
              {% block userlinks %}
                  {% if site_url %}
                      <a href="{{ site_url }}">{% translate 'View site' %}</a> /
                  {% endif %}
                  {% if user.is_active and user.is_staff %}
                      {% url 'django-admindocs-docroot' as docsroot %}
                      {% if docsroot %}
                          <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
                      {% endif %}
                  {% endif %}
                  {% if user.has_usable_password %}
                  <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
                  {% endif %}
                  <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                      {% csrf_token %}
                      <button type="submit">{% translate 'Log out' %}</button>
                  </form>
                  {% include "admin/color_theme_toggle.html" %}
              {% endblock %}
          </div>
          {% endif %}
          {% endblock %}
          {% block nav-global %}{% endblock %}
          <div class="notification">
            <span class="notification-number">3</span>
            <img
              src="{% static 'icons/opinion.png' %}"
              class="feather feather-bell"
              style="margin-top: 6px;"
            >
          </div>
          <img class="user-box" src="{% static 'icons/user.png' %}">
          <img
            class="profile-img"
            src="https://images.unsplash.com/photo-1600353068440-6361ef3a86e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
            alt=""
          />
        </div>
      </div>
      <div class="wrapper">
        <div class="left-side">
          <!-- Section 1-->
          <div class="side-wrapper">
            <div class="side-title">Categories</div>
            <div class="side-menu">
              <!-- Catagory 1 -->
              <a href="#">
                <img src="{% static 'icons/elm.png' %}">
                Photography
              </a>
              <!-- End Catagory 1 -->
              <!-- Catagory 2 -->
              <a href="#">
                <img src="{% static 'icons/graphql.png' %}">
                Graphic Design
              </a>
              <!-- End Catagory 2 -->
              <!-- Catagory 3 -->
              <a href="#">
                <img src="{% static 'icons/react.png' %}">
                Video
              </a>
              <!-- End Catagory 3 -->
              <!-- Catagory 4 -->
              <a href="#">
                <img src="{% static 'icons/r.png'%}">
                Illustrations
              </a>
              <!-- End Catagory 4 -->
              <!-- Catagory 5 -->
              <a href="#">
                <img src="{% static 'icons/python.png'%}">
                UI/UX
              </a>
              <!-- End Catagory 5 -->
              <!-- Catagory 1 -->
              <a href="#">
                <img src="{% static 'icons/typescript.png'%}">
                3D/AR
              </a>
              <!-- End Catagory 5 -->
            </div>
          </div>
          <!-- End Section 1-->
          <!-- Section 2-->
          <div class="side-wrapper">
            <div class="side-title">Resource Links</div>
            <div class="side-menu">
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/json.png'%}">
                Stock
              </a>
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/go.png'%}">
                Tutorials
              </a>
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/java.png'%}">
                Portfolio
              </a>
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/ionic.png'%}">
                Behance
              </a>
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/html.png'%}">
                Social Forum
              </a>
              <!-- -->
            </div>
          </div>
          <!-- End Section 2-->
        </div>
        <div class="main-container">
          <div class="content-wrapper">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
      <div class="overlay-app"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'operations/js/scripts.js' %}"></script>
    {% block js %}{% endblock %}
  </div>
</body>
</html>
