<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'operations/css/styles.css' %}">
  </head>
  <body>
    <div class="video-bg">
      <video width="320" height="240" autoplay loop muted>
        <source
          src="https://assets.codepen.io/3364143/7btrrd.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="dark-light">
      <img src="{% static 'icons/light.png' %}">
    </div>
    <div class="app">
      <div class="header">
        <div class="menu-circle"></div>
        <div class="header-menu">
          <a class="menu-link is-active" href="#">Dashboard</a>
          <a class="menu-link notify" href="#">Your work</a>
          <a class="menu-link" href="#">Discover</a>
          <a class="menu-link notify" href="#">More</a>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Search" />
        </div>
        <div class="header-profile">
          <div class="notification">
            <span class="notification-number">3</span>
            <img
              src="{% static 'icons/opinion.png' %}"
              class="feather feather-bell"
              style="margin-top: 6px;"
            >
          </div>
          <img src="{% static 'icons/user.png' %}">
          <img
            class="profile-img"
            src="https://images.unsplash.com/photo-1600353068440-6361ef3a86e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
            alt=""
          />
        </div>
      </div>
      <div class="wrapper">
        <div class="left-side">
          <!-- Section 1-->
          <div class="side-wrapper">
            <div class="side-title">Categories</div>
            <div class="side-menu">
              <!-- Catagory 1 -->
              <a href="#">
                <img src="{% static 'icons/elm.png' %}">
                Photography
              </a>
              <!-- End Catagory 1 -->
              <!-- Catagory 2 -->
              <a href="#">
                <img src="{% static 'icons/graphql.png' %}">
                Graphic Design
              </a>
              <!-- End Catagory 2 -->
              <!-- Catagory 3 -->
              <a href="#">
                <img src="{% static 'icons/react.png' %}">
                Video
              </a>
              <!-- End Catagory 3 -->
              <!-- Catagory 4 -->
              <a href="#">
                <img src="{% static 'icons/r.png'%}">
                Illustrations
              </a>
              <!-- End Catagory 4 -->
              <!-- Catagory 5 -->
              <a href="#">
                <img src="{% static 'icons/python.png'%}">
                UI/UX
              </a>
              <!-- End Catagory 5 -->
              <!-- Catagory 1 -->
              <a href="#">
                <img src="{% static 'icons/typescript.png'%}">
                3D/AR
              </a>
              <!-- End Catagory 5 -->
            </div>
          </div>
          <!-- End Section 1-->
          <!-- Section 2-->
          <div class="side-wrapper">
            <div class="side-title">Resource Links</div>
            <div class="side-menu">
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/json.png'%}">
                Stock
              </a>
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/go.png'%}">
                Tutorials
              </a>
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/java.png'%}">
                Portfolio
              </a>
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/ionic.png'%}">
                Behance
              </a>
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/html.png'%}">
                Social Forum
              </a>
              <!-- -->
            </div>
          </div>
          <!-- End Section 2-->
        </div>
        <div class="main-container">
          <div class="content-wrapper">
            <!-- Row Item -->
            <div class="content-wrapper-header">
              <div class="content-wrapper-context">
                <h3 class="img-content">
                  <img
                    src="{% static 'icons/histogram.png' %}"
                    class="icon"
                    style="width: 25px; height: 25px;"
                  >                
                  Place Holder
                </h3>
                <div class="content-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna 
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                  Duis aute irure dolor in reprehenderit in voluptate velit 
                  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                  occaecat cupidatat non proident, sunt in culpa qui officia 
                  deserunt mollit anim id est laborum.
                </div>
                <button class="content-button">Click button!</button>
              </div>
              <img
                class="content-wrapper-img"
                src="https://assets.codepen.io/3364143/glass.png"
                alt=""
              />
            </div>
            <!-- End Row Item -->
            <!-- Row Item -->
            <div class="content-section">
              <div class="content-section-title">List</div>
              <ul>
                <li class="operations-product">
                  <div class="products">
                    <img 
                      src="{% static 'icons/browse.png' %}"
                      style="border: 1px solid #3291b8; width: 25px; height: 25px;"
                    >
                    Item 1
                  </div>
                  <span class="status">
                    <span class="status-circle green"></span>
                    Updated</span
                  >
                  <div class="button-wrapper">
                    <button class="content-button status-button open">
                      Open
                    </button>
                    <div class="menu">
                      <button class="dropdown">
                        <ul>
                          <li><a href="#">Go to Discover</a></li>
                          <li><a href="#">Learn more</a></li>
                          <li><a href="#">Uninstall</a></li>
                        </ul>
                      </button>
                    </div>
                  </div>
                </li>
                <li class="operations-product">
                  <div class="products">
                    <img 
                      src="{% static 'icons/document.png'%}"
                      style="border: 1px solid #b65a0b"
                    >
                    Item 2
                  </div>

                  <span class="status">
                    <span class="status-circle"></span>
                    New item in this app
                  </span>
                  <div class="button-wrapper">
                    <button class="content-button status-button">
                      New item in this app
                    </button>
                    <div class="pop-up">
                      <div class="pop-up__title">
                        New item in this app
                        <img
                          src="{% static 'icons/close.png'%}"
                          class="close"
                          width="24"
                          height="24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-x-circle"
                        >
                      </div>
                      <div class="pop-up__subtitle">
                        Adjust your selections for advanced options as desired
                        before continuing. <a href="#">Learn more</a>
                      </div>
                      <div class="checkbox-wrapper">
                        <input type="checkbox" id="check1" class="checkbox" />
                        <label for="check1">
                        Import previous settings and preferences</label>
                      </div>
                      <div class="checkbox-wrapper">
                        <input type="checkbox" id="check2" class="checkbox" />
                        <label for="check2">Remove old versions</label>
                      </div>
                      <div class="content-button-wrapper">
                        <button class="content-button status-button open close">
                          Cancel
                        </button>
                        <button class="content-button status-button">
                          Continue
                        </button>
                      </div>
                    </div>
                    <div class="menu">
                      <button class="dropdown">
                        <ul>
                          <li><a href="#">Go to Discover</a></li>
                          <li><a href="#">Learn more</a></li>
                          <li><a href="#">Uninstall</a></li>
                        </ul>
                      </button>
                    </div>
                  </div>
                </li>
                <li class="operations-product">
                  <div class="products">
                    <img 
                      src="{% static 'icons/inspiration.png'%}"
                      style="border: 1px solid #c75deb"
                    >
                    Item 3
                  </div>
                  <span class="status">
                    <span class="status-circle green"></span>
                    Updated</span
                  >
                  <div class="button-wrapper">
                    <button class="content-button status-button open">
                      Open
                    </button>
                    <div class="menu">
                      <button class="dropdown">
                        <ul>
                          <li><a href="#">Go to Discover</a></li>
                          <li><a href="#">Learn more</a></li>
                          <li><a href="#">Uninstall</a></li>
                        </ul>
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- End Row Item -->
            <!-- Row Item -->
            <div class="content-section">
              <div class="content-section-title">Lines</div>
              <div class="apps-card">
                <!-- Line 1 -->
                <div class="app-card">
                  <span>
                    <img
                      src="{% static 'icons/picture.png' %}"
                      style="border: 1px solid #a059a9"
                    >
                    Line
                  </span>
                  <div class="app-card__subtext">
                    Description for this line.
                  </div>
                  <div class="app-card-buttons">
                    <button class="content-button status-button">Continue</button>
                    <div class="menu"></div>
                  </div>
                </div>
                <!-- End Line 1 -->
                <!-- Line 2 -->
                <div class="app-card">
                  <span>
                    <img
                      src="{% static 'icons/picture.png' %}"
                      style="border: 1px solid #a059a9"
                    >
                    Line
                  </span>
                  <div class="app-card__subtext">
                    Description for this line.
                  </div>
                  <div class="app-card-buttons">
                    <button class="content-button status-button">Continue</button>
                    <div class="menu"></div>
                  </div>
                </div>
                <!-- End Line 2 -->
                <!-- Line 3 -->
                <div class="app-card">
                  <span>
                    <img
                      src="{% static 'icons/picture.png' %}"
                      style="border: 1px solid #a059a9"
                    >
                    Line
                  </span>
                  <div class="app-card__subtext">
                    Description for this line.
                  </div>
                  <div class="app-card-buttons">
                    <button class="content-button status-button">Continue</button>
                    <div class="menu"></div>
                  </div>
                </div>
                <!-- End Line 3 -->
              </div>
            </div>
            <!-- End Row Item -->
          </div>
        </div>
      </div>
      <div class="overlay-app"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'operations/js/scripts.js' %}"></script>
  </body>
</html>
