<h2>{{ title }}</h2>
<form>
    {% csrf_token %}
    <input type="hidden" name="employee" value="{{ request.user.username }}">
    <input type="hidden" name="line" value="{{ line }}">
    <input type="hidden" name="shift" value="{{ shift }}" required>
    <label for="workorder">Workorder</label><br>
    <input type="text" name="workorder" required value="{{ workorder }}"><br>
    <label for="quantity">Quantity</label><br>
    <input type="number" name="quantity" required><br>
    <label for="reasons">Reasons</label><br>
    <select name="reasons" required>
        {% for reason in reject_reasons %}
        <option value="{{ reason }}">{{ reason }}</option>
        {% endfor %}
    </select><br>
    <label for="comments">Comments</label>
    <textarea id="comments" name="comments" rows="4" cols="30"></textarea>
    <br><br>
    <button type="button" onclick="submitRejectForm(this)">Submit Downtime</button>
</form>
