<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'operations/css/styles.css' %}">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="video-bg">
      <video width="320" height="240" autoplay loop muted>
        <source
          src="https://assets.codepen.io/3364143/7btrrd.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="dark-light">
      <img src="{% static 'icons/light.png' %}">
    </div>
    <div class="app">
      <div class="header">
        <div class="menu-circle"></div>
        <div class="header-menu">
          <a class="menu-link is-active" href="#">Dashboard</a>
          <a class="menu-link notify" href="#">Your work</a>
          <a class="menu-link" href="#">Discover</a>
          <a class="menu-link notify" href="#">More</a>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Search" />
        </div>
        <div class="header-profile">
          <div class="notification">
            <span class="notification-number">3</span>
            <img
              src="{% static 'icons/opinion.png' %}"
              class="feather feather-bell"
              style="margin-top: 6px;"
            >
          </div>
          <img src="{% static 'icons/user.png' %}">
          <img
            class="profile-img"
            src="https://images.unsplash.com/photo-1600353068440-6361ef3a86e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
            alt=""
          />
        </div>
      </div>
      <div class="wrapper">
        <div class="left-side">
          <!-- Section 1-->
          <div class="side-wrapper">
            <div class="side-title">Categories</div>
            <div class="side-menu">
              <!-- Catagory 1 -->
              <a href="#">
                <img src="{% static 'icons/elm.png' %}">
                Photography
              </a>
              <!-- End Catagory 1 -->
              <!-- Catagory 2 -->
              <a href="#">
                <img src="{% static 'icons/graphql.png' %}">
                Graphic Design
              </a>
              <!-- End Catagory 2 -->
              <!-- Catagory 3 -->
              <a href="#">
                <img src="{% static 'icons/react.png' %}">
                Video
              </a>
              <!-- End Catagory 3 -->
              <!-- Catagory 4 -->
              <a href="#">
                <img src="{% static 'icons/r.png'%}">
                Illustrations
              </a>
              <!-- End Catagory 4 -->
              <!-- Catagory 5 -->
              <a href="#">
                <img src="{% static 'icons/python.png'%}">
                UI/UX
              </a>
              <!-- End Catagory 5 -->
              <!-- Catagory 1 -->
              <a href="#">
                <img src="{% static 'icons/typescript.png'%}">
                3D/AR
              </a>
              <!-- End Catagory 5 -->
            </div>
          </div>
          <!-- End Section 1-->
          <!-- Section 2-->
          <div class="side-wrapper">
            <div class="side-title">Resource Links</div>
            <div class="side-menu">
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/json.png'%}">
                Stock
              </a>
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/go.png'%}">
                Tutorials
              </a>
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/java.png'%}">
                Portfolio
              </a>
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/ionic.png'%}">
                Behance
              </a>
              <!-- -->
              <a href="#">
                <img src="{% static 'icons/html.png'%}">
                Social Forum
              </a>
              <!-- -->
            </div>
          </div>
          <!-- End Section 2-->
        </div>
        <div class="main-container">
          <div class="content-wrapper">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
      <div class="overlay-app"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'operations/js/scripts.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
