{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    {% csrf_token %}
    <meta name="line" content="{{ line }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'line_management/css/styles.css' %}">
    <title>Production UI</title>
</head>
<body>
    <!-- Input form -->
    <div class="popup-background" id="popupBackground">
        <div class="popup">
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <div id="form">
                <!-- Place holder for form -->
            </div>
        </div>
    </div>
    <!-- End input form -->
    <div class="video-bg">
        <video width="320" height="240" autoplay loop muted>
            <source
            src="https://assets.codepen.io/3364143/7btrrd.mp4"
            type="video/mp4"
            />
            Your browser does not support the video tag.
        </video>
    </div>
    <header>
        <button>&lt;</button>
        <div class=dropdown-container>
            <select class="shift-select">
                <option {% if shift == 'A' %}selected{% endif %}>A Shift</option>
                <option {% if shift == 'B' %}selected{% endif %}>B Shift</option>
                <option {% if shift == 'C' %}selected{% endif %}>C Shift</option>
            </select>
            <h3>V</h3>
        </div>
        <h1>{{ line }} Production</h1>
        <img src="bug-icon.png" alt="Bug Icon"> <!-- Placeholder for the bug icon? -->
    </header>
        <div style="possition: relative;">
            <div class="alert" id="alert" style="{% if currently_down %}display: block;{% endif %}">
                <button 
                    class="line-down" 
                    hx-get="/htmx/downtime/{{downtime_id}}"
                    hx-target="#form"
                    hx-swap="innerHTML"
                    onclick="showPopup()"
                >Click when line is back up!</button>
            </div>
        </div>
    <div class="container">
        
        <nav>
            <button 
                id="hourly"
                hx-get="/htmx/input/{{line}}"
                hx-target="#form"
                hx-swap="innerHTML"
                onclick="showPopup()"
            >Hourly Input</button>
            <button 
                id="line-down" 
                {% if currently_down %}disabled{% endif %}
                data-employee="{{ request.user.username }}" 
                data-line="{{ line }}"
                onclick="createDowntime(this)"
            >Line Down</button>
            <button 
                id="reject"
                hx-get="/htmx/reject/{{line}}"
                hx-target="#form"
                hx-swap="innerHTML"
                onclick="showPopup()"
            >Reject Input</button>
            <button id="schedule">View Schedule</button>
        </nav>

        <aside>
            <div class="data-container">
                Hourly Goal
                <div class="data">
                {{ goal }}
                </div>
            </div>
            <div class="data-container">
                Total Units
                <div class="data">
                {{ total_units }}
                </div>
            </div>
            <div class="data-container">
                Average
                <div class="data">
                {{ avg_units }}
                </div>
            </div>
            <div class="data-container">
                Total Rejects
                <div class="data">
                {{ total_reject }}
                </div>
            </div>
            <div class="data-container">
                Downtime
                <div class="data">
                {{ total_downtime }}
                </div>
            </div>
        </aside>

        <section class="main-content">
            <div class="unit-info">
                <h2>Unit Entries</h2>
                <div class="scrollable-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Employee</th>
                                <th>Workorder</th>
                                <th>Actual Good</th>
                                <th>Total Rejects</th>
                                <th>Starting Unit</th>
                                <th>Ending Unit</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in unit_entries %}
                            <tr>
                                <td>{{ item.4 }}</td>
                                <td>{{ item.1 }}</td>
                                <td>{{ item.8 }}</td>
                                <td>{{ item.2 }}</td>
                                <td>{{ item.3 }}</td>
                                <td>{{ item.10 }}</td>
                                <td>{{ item.9 }}</td>
                                <td>{{ item.5 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="downtime-info">
                <h2>Downtime Entries</h2>
                <div class="scrollable-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Downtime Total</th>
                                <th>Downtime Reason</th>
                                <th>Downtime Started</th>
                                <th>Downtime Ended</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in downtime_entries %}
                            <tr>
                                <td>{{ item.time_difference }}</td>
                                <td>{{ item.reason }}</td>
                                <td>{{ item.start_time}}</td>
                                <td>{{ item.end_time}}</td>
                                <td>{{ item.comment }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <script src="{% static 'line_management/js/scripts.js' %}"></script>
    <script src="https://unpkg.com/htmx.org"></script>
</body>
</html>
